.is_hidden {
    visibility : hidden;
    max-height : 0;
}

.hidden_column {
    display:none;
    visibility:hidden;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}

@font-face {
    font-family: "CardenioModern";
    src: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/master/static/cardenio_modern_font/CardenioModern-Regular.otf") format("opentype");

}

.fonttest {
    font-family: "CardenioModern";
}

html *
{
   font-size: 15pt;
   color: #000;
   font-family: "CardenioModern" !important;
}

.automa-won-button {
    white-space: normal;
}

table td {
    position: relative;
}

.score_sheet_table td, tr, th {
    opacity: 0.95;
    border : 1px solid rgba(var(--font-color-buttons));
}

.score_sheet_cell_no_padding {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
  
table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    width: 100%;
}

.input-vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.nectar-scoring-button-disabled {
    font-size: 15pt;
    color: #000;
    opacity : 0.3;
}

.nectar-scoring-button-enabled {
    font-size: 15pt;
    color: #000;
    opacity : 1;
}

.nav-button {
    font-size: 18pt;
}

.round-end-goal-button {
    font-size: 15pt;
    aspect-ratio : 1 / 1;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
}

#row_base_game {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(177,210,199,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/base_game.png");
    background-position: left;
    background-size: 130% auto;
}

#row_european_expansion {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(122,105,168, 1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/european_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_oceania_expansion {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(241,177,82,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/oceania_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_asia {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

#row_automubon_society {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(177,210,199,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/base_game.png");
    background-position: left;
    background-size: 130% auto;
}

#row_RAOUtoma {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(241,177,82,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/oceania_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_automasian_alliance {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

#row_duet_mode {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

body {
    margin:0;
    padding:0;

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0);
    background-blend-mode: lighten;
}

textarea {
    background: transparent;
    border: 0 none;
    outline: none;
    line-height: 25px;
  }

.checkbox-menu li label {
    display: block;
    padding: 0px 10px;
    clear: both;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    border-left : 1px solid black;
    border-right : 1px solid black;
    border-top : 1px solid black;
}

li:nth-child(5) {
    border-bottom : 1px solid black;
  }

.checkbox-menu li input {
    position: top;
    vertical-align: middle;
}

.disabled-text {
    color : #EBEBE4
}

.enabled-text {
    color : #000
}

.borderless {
    border: none!important;
}

button:disabled,
button[disabled]{
  border: 0px;
  opacity: 0.1;
}

.rowspan-vertical {
    writing-mode: vertical-lr;
    text-align: center;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    border : 1px solid black;
    vertical-align: middle;
}

.paint-stroke-background-stripe-brown {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/stripe-brown.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-stripe-pink {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/stripe-pink.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-stripe-teal {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/stripe-teal.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-stripe-white {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/stripe-white.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.paint-stroke-background-stripe-yellow {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/stripe-yellow.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-brown-long {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-brown-long.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-pink-long {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-pink-long.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-white-long {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-white-long.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-pink-short {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-pink-short.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-purple {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-purple.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-white-double {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-white-double.webp"); 
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.paint-stroke-background-brush-white-long-for-index-menu {
    background: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-white-long.webp");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-brown {
    background-color: #c17b38!important;
}

.bg-pink {
    background-color: #ecada9!important;
}

.bg-teal {
    background-color: #6fbfb9!important;
}

.bg-white {
    background-color: #fefefe!important;
}

.bg-yellow {
    background-color: #f9d246!important;
}

.bg-purple {
    background-color: #949cc4!important;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.astext {
    margin:0;
    padding:0;
    cursor: pointer;
    background-color: rgba(var(--heading-color));
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(var(--heading-color));
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
left: 4px;
bottom: 4px;
background-color: rgba(var(--button-submit-color));
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
    background-color: rgba(var(--cell-disabled-color));
}

input:focus + .slider {
box-shadow: 0 0 1px rgba(var(--cell-disabled-color));
}

input:checked + .slider:before {
-webkit-transform: translateX(22px);
-ms-transform: translateX(22px);
transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
outline: 2px solid rgba(var(--font-color-buttons));
}

.header-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.vh12 {
    height:12vh;
}

.vh10 {
    height:10vh;
}

.vh5 {
    height:5vh;
}

.header-background-for-index-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height:30vh;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    vertical-align: middle;
}

.h1 {
    font-size: 25pt;
    color: rgba(var(--font-color-headers));
}

.h2 {
    font-size: 20pt;
    color: rgba(var(--font-color-headers));
}

input {
    color: rgba(var(--font-color-headers));
}

input::placeholder {
    color: rgba(var(--font-color-headers),0.6);
}

.btn {
    color: rgba(var(--font-color-buttons));
    outline: 1px solid rgba(var(--font-color-headers));
}

.btn:hover {
    outline: 1px solid rgba(var(--font-color-headers));
}


.btn:focus {
    outline: 1px solid rgba(var(--font-color-headers));
}

.modal-content {
    background-color: rgba(var(--button-settings-color));
}

.modal-title {
    color: rgba(var(--font-color-buttons));
}

.modal-header {
    border-bottom-color: rgba(var(--font-color-headers));
}

.settings-label {
    color: rgba(var(--font-color-buttons));
}

/*Buttons*/
.btn-start {
    background-color:rgba(var(--button-start-color));
}

.btn-start:hover {
    background-color:rgba(var(--button-start-color),0.5);
}

.btn-start:active {
    background-color:rgba(var(--button-start-color))!important;
}

.btn-start:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-score-sheet-automa {
    background-color:rgba(var(--button-score-sheet-automa-color));
}

.btn-score-sheet-automa:hover {
    background-color:rgba(var(--button-score-sheet-automa-color),0.5);
}

.btn-score-sheet-automa:active {
    background-color:rgba(var(--button-score-sheet-automa-color))!important;
}

.btn-score-sheet-automa:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-score-sheet {
    background-color:rgba(var(--button-score-sheet-color));
}

.btn-score-sheet:hover {
    background-color:rgba(var(--button-score-sheet-color),0.5);
}

.btn-score-sheet:active {
    background-color:rgba(var(--button-score-sheet-color))!important;
}

.btn-score-sheet:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-settings {
    background-color:rgba(var(--button-settings-color));
}

.btn-settings:hover {
    background-color:rgba(var(--button-settings-color),0.5);
}

.btn-settings:active {
    background-color:rgba(var(--button-settings-color))!important;
}

.btn-settings:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-dropdown-menu {
    font-size: 20pt;
    background-color:rgba(var(--button-dropdown-menu-color));
    
}

.btn-dropdown-menu:hover {
    background-color:rgba(var(--button-dropdown-menu-color),0.5);
}

.btn-dropdown-menu:active {
    background-color:rgba(var(--button-dropdown-menu-color))!important;
}

.btn-dropdown-menu:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-reset {
    background-color:rgba(var(--button-reset-color));
}

.btn-reset:hover {
    background-color:rgba(var(--button-reset-color),0.5);
}

.btn-reset:active {
    background-color:rgba(var(--button-reset-color))!important;
}

.btn-reset:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-submit {
    background-color:rgba(var(--button-submit-color));
}

.btn-submit:hover {
    background-color:rgba(var(--button-submit-color),0.5);
}

.btn-submit:active {
    background-color:rgba(var(--button-submit-color))!important;
}

.btn-submit:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-return {
    background-color:rgba(var(--button-return-color));
}

.btn-return:hover {
    background-color:rgba(var(--button-return-color),0.5);
}

.btn-return:active {
    background-color:rgba(var(--button-return-color))!important;
}

.btn-return:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

.btn-change-n-players {
    background-color:rgba(var(--button-change-n-players-color));
}

.btn-change-n-players:hover {
    background-color:rgba(var(--button-change-n-players-color),0.5);
}

.btn-change-n-players:active {
    background-color:rgba(var(--button-change-n-players-color))!important;
}

.btn-change-n-players:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
}

/*Cells*/
.cell-vertical {
    background-color:rgba(var(--cell-vertical-color))!important;
    color:rgba(var(--font-color-headers))!important;
}

.cell-info {
    background-color:rgba(var(--cell-info-color))!important;
    color:rgba(var(--font-color-buttons))!important;
}

.cell-input {
    background-color:rgba(var(--cell-input-color))!important;
}
.cell-disabled {
    background-color:rgba(var(--cell-disabled-color))!important;
}
.cell-total {
    background-color:rgba(var(--cell-total-color))!important;
    color:rgba(var(--font-color-headers))!important;
}
