.header-background {
    background:linear-gradient(0deg, var(--header-color-mix), var(--header-color-mix)), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-white-long.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-background-for-index-menu { 
    background:linear-gradient(0deg, var(--header-color-mix), var(--header-color-mix)), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-white-long.webp");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: var(--font-color-headers);
}

h2 {
    color: var(--font-color-headers);
}

.btn {
    color: var(--font-color-buttons);
}

/*Buttons*/
.btn-start {
    background-color:var(--button-start-color)
}

.btn-score-sheet-automa {
    background-color:var(--button-score-sheet-automa-color)
}

.btn-score-sheet {
    background-color:var(--button-score-sheet-color)
}

.btn-settings {
    background-color:var(--button-settings-color)
}

.btn-expansions {
    background-color:var(--button-expansions-color)
}

.btn-extra-cards {
    background-color:var(--button-extra-cards-color)
}

.btn-reset {
    background-color:var(--button-reset-color)
}

.btn-submit {
    background-color:var(--button-submit-color)
}

.btn-return {
    background-color:var(--button-return-color)
}

/*Cells*/
.cell-vertical {
    background-color:var(--cell-vertical-color)!important;
    color:var(--font-color-header)!important;
}

.cell-info {
    background-color:var(--cell-info-color)!important;
    color:var(--font-color-buttons)!important;
}

.cell-input {
    background-color:var(--cell-input-color)!important;
}
.cell-disabled {
    background-color:var(--cell-disabled-color)!important;
}
.cell-total {
    background-color:var(--cell-total-color)!important;
    color:var(--font-color-header)!important;
}

/*
Theme template:

[data-theme="theme_name"] {
    --font-color-header:;
    --font-color-buttons:;
    --heading-color:;

    --button-start-color:;
    --button-score-sheet-automa-color:;
    --button-score-sheet-color:;
    --button-settings-color:;
    --button-expansions-color:;
    --button-extra-cards-color:;
    --button-reset-color:;
    --button-submit-color:;
    --button-return-color:;

    --cell-vertical-color:;
    --cell-info-color:;
    --cell-input-color:;
    --cell-disabled-color:;
    --cell-total-color:;
}

*/

:root {
    --font-color:#292922;
    --heading-color:#fff;

    --primary-color-1:#302AE6;
    --primary-color-2:#302AE6;
    --primary-color-3:#302AE6;
    --secondary-color-1:#536390;
    --secondary-color-2:#536390;
    --secondary-color-3:#536390;
    --tertiary-color-1:#424242;
    --tertiary-color-2:#424242;
    --tertiary-color-3:#424242;

    --header-color-mix:color-mix(in srgb, var(--heading-color) 40%, transparent);
}

[data-theme="spotted_pardalote"] {
    --a:#feca00;
    --a:#d36328;
    --a:#cb0300;
    --a:#b4b9b3;
    --a:#424847;
    --a:#000100;

    --font-color-header:#000100;
    --font-color-buttons:#b4b9b3;
    --heading-color:#feca00;

    --button-start-color:#424847;
    --button-score-sheet-automa-color:#d36328;
    --button-score-sheet-color:#000100;
    --button-settings-color:#cb0300;
    --button-expansions-color:#000100;
    --button-extra-cards-color:#000100;
    --button-reset-color:#000100;
    --button-submit-color:#424847;
    --button-return-color:#cb0300;

    --cell-vertical-color:#feca00;
    --cell-info-color:#424847;
    --cell-input-color:#d36328;
    --cell-disabled-color:#000100;
    --cell-total-color:#feca00;
}

[data-theme="blue_winged_kookaburra"] {
    --a:#b5effb;
    --a:#0b7595;
    --a:#02407c;
    --a:#06213a;
    --a:#c45829;
    --a:#9C4620;
    --a:#622C14;
    --a:#d4d8e3;
    --a:#b8bcd8;
    --a:#ad8d9f;
    --a:#725f77;
    
    --font-color-header:#06213a;
    --font-color-buttons:#06213a;
    --heading-color:#b5effb;

    --button-start-color:#0b7595;
    --button-score-sheet-automa-color:#ad8d9f;
    --button-score-sheet-color:#b8bcd8;
    --button-settings-color:#9C4620;
    --button-expansions-color:#b8bcd8;
    --button-extra-cards-color:#ad8d9f;
    --button-reset-color:#b8bcd8;
    --button-submit-color:#ad8d9f;
    --button-return-color:#725f77;

    --cell-vertical-color:#b5effb;
    --cell-info-color:#0b7595;
    --cell-input-color:#c45829;
    --cell-disabled-color:#02407c;
    --cell-total-color:#b5effb;
}

[data-theme="plains_wanderer"] {
    --a:#edd8c5;
    --a:#d09a5e;
    --a:#e7aa01;
    --a:#ac570f;
    --a:#73481b;
    --a:#442c0e;
    --a:#0d0403;

    --font-color-header:#0d0403;
    --font-color-buttons:#442c0e;
    --heading-color:#ac570f;

    --button-start-color:#d09a5e;
    --button-score-sheet-automa-color:#e7aa01;
    --button-score-sheet-color:#ac570f;
    --button-settings-color:#edd8c5;
    --button-expansions-color:#d09a5e;
    --button-extra-cards-color:#d09a5e;
    --button-reset-color:#ac570f;
    --button-submit-color:#d09a5e;
    --button-return-color:#edd8c5;

    --cell-vertical-color:#ac570f;
    --cell-info-color:#e7aa01;
    --cell-input-color:#d09a5e;
    --cell-disabled-color:#442c0e;
    --cell-total-color:#ac570f;
}

[data-theme="bee_eater"] {
    --a:#00346E;
    --a:#007CBF;
    --a:#06ABDF;
    --a:#EDD03E;
    --a:#F5A200;
    --a:#6D8600;
    --a:#424D0C;

    --font-color-header:#00346E;
    --font-color-buttons:#00346E;
    --heading-color:#06ABDF;

    --button-start-color:#007CBF;
    --button-score-sheet-automa-color:#EDD03E;
    --button-score-sheet-color:#F5A200;
    --button-settings-color:#6D8600;
    --button-expansions-color:#F5A200;
    --button-extra-cards-color:#F5A200;
    --button-reset-color:#F5A200;
    --button-submit-color:#EDD03E;
    --button-return-color:#6D8600;

    --cell-vertical-color:#06ABDF;
    --cell-info-color:#EDD03E;
    --cell-input-color:#F5A200;
    --cell-disabled-color:#424D0C;
    --cell-total-color:#06ABDF;
}

[data-theme="rose_crowned_fruit_dove"] {
    --a:#BD338F;
    --a:#EB8252;
    --a:#F5DC83;
    --a:#CDD4DC;
    --a:#8098A2;
    --a:#8FA33F;
    --a:#5F7929;
    --a:#014820;
    
    --font-color-header:#014820;
    --font-color-buttons:#014820;
    --heading-color:#CDD4DC;

    --button-start-color:#8FA33F;
    --button-score-sheet-automa-color:#BD338F;
    --button-score-sheet-color:#EB8252;
    --button-settings-color:#8098A2;
    --button-expansions-color:#CDD4DC;
    --button-extra-cards-color:#CDD4DC;
    --button-reset-color:#EB8252;
    --button-submit-color:#F5DC83;
    --button-return-color:#8098A2;

    --cell-vertical-color:#8FA33F;
    --cell-info-color:#EB8252;
    --cell-input-color:#BD338F;
    --cell-disabled-color:#5F7929;
    --cell-total-color:#8FA33F;
}

[data-theme="eastern_rosella"] {
    --a:#cd3122;
    --a:#f4c623;
    --a:#bee183;
    --a:#6c905e;
    --a:#2f533c;
    --a:#b8c9dc;
    --a:#2f7ab9;
    
    --font-color-header:#000100;
    --font-color-buttons:#000100;
    --heading-color:#b8c9dc;

    --button-start-color:#cd3122;
    --button-score-sheet-automa-color:#f4c623;
    --button-score-sheet-color:#bee183;
    --button-settings-color:#2f7ab9;
    --button-expansions-color:#bee183;
    --button-extra-cards-color:#bee183;
    --button-reset-color:#cd3122;
    --button-submit-color:#f4c623;
    --button-return-color:#2f7ab9;

    --cell-vertical-color:#6c905e;
    --cell-info-color:#f4c623;
    --cell-input-color:#b8c9dc;
    --cell-disabled-color:#cd3122;
    --cell-total-color:#6c905e;
}

[data-theme="olive_backed_oriole"] {
    --a:#8a3223;
    --a:#bb5645;
    --a:#d97878;
    --a:#e2aba0;
    --a:#d0cfe9;
    --a:#a29eb8;
    --a:#6c6b75;
    --a:#b8a53f;
    --a:#93862a;
    --a:#4d4019;

    --font-color-header:#000100;
    --font-color-buttons:#000100;
    --heading-color:#d0cfe9;

    --button-start-color:#bb5645;
    --button-score-sheet-automa-color:#6c6b75;
    --button-score-sheet-color:#b8a53f;
    --button-settings-color:#93862a;
    --button-expansions-color:#a29eb8;
    --button-extra-cards-color:#d0cfe9;
    --button-reset-color:#d0cfe9;
    --button-submit-color:#e2aba0;
    --button-return-color:#93862a;

    --cell-vertical-color:#b8a53f;
    --cell-info-color:#6c6b75;
    --cell-input-color:#93862a;
    --cell-disabled-color:#bb5645;
    --cell-total-color:#b8a53f;
}

[data-theme="princess_parrot"] {
    --a:#7090c9;
    --a:#8cb3de;
    --a:#afbe9f;
    --a:#616020;
    --a:#6eb245;
    --a:#214917;
    --a:#cf2236;
    --a:#d683ad;

    --font-color-header:#214917;
    --font-color-buttons:#214917;
    --heading-color:#8cb3de;

    --button-start-color:#7090c9;
    --button-score-sheet-automa-color:#d683ad;
    --button-score-sheet-color:#6eb245;
    --button-settings-color:#afbe9f;
    --button-expansions-color:#8cb3de;
    --button-extra-cards-color:#8cb3de;
    --button-reset-color:#7090c9;
    --button-submit-color:#d683ad;
    --button-return-color:#afbe9f;

    --cell-vertical-color:#8cb3de;
    --cell-info-color:#6eb245;
    --cell-input-color:#d683ad;
    --cell-disabled-color:#cf2236;
    --cell-total-color:#8cb3de;
}

[data-theme="superb_fairy_wren"] {
    --a:#4F3321;
    --a:#AA7853;
    --a:#D9C4A7;
    --a:#B03F05;
    --a:#020503;
    
    --font-color-header:#020503;
    --font-color-buttons:#020503;
    --heading-color:#D9C4A7;

    --button-start-color:#4F3321;
    --button-score-sheet-automa-color:#AA7853;
    --button-score-sheet-color:#D9C4A7;
    --button-settings-color:#B03F05;
    --button-expansions-color:#AA7853;
    --button-extra-cards-color:#AA7853;
    --button-reset-color:#AA7853;
    --button-submit-color:#D9C4A7;
    --button-return-color:#B03F05;

    --cell-vertical-color:#D9C4A7;
    --cell-info-color:#AA7853;
    --cell-input-color:#B03F05;
    --cell-disabled-color:#020503;
    --cell-total-color:#D9C4A7;
}